<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show chats</title>
</head>
<body>
    <h2><%= chatdetails._id %></h2>
    <h4><%= chatdetails.from %></h4>
    <textarea><%= chatdetails.msg %></textarea>
    <h4><%= chatdetails.to %></h4>
</body>
</html>